@font-face {
    font-family: hell;
    src:url(Overseer.otf);
}
@font-face {
    font-family: hell1;
    src:url(popp.ttf);
}
@font-face {
    font-family: hel;
    src:url(Hellttf.ttf);
}

body{
    max-width: 60em;
    margin: 0 auto;
    background-color: black;
    background-image: url(nrx.jpg);
    background-size: 100%  auto;
}
.topmenu {
    position: relative;
    bottom: -2px;
    font-family: hell;
    padding: 1px;
    margin: 1px;;
    display: flex;
    flex-flow: row;
    height: 31px;
    font-size: 26px;
    background: gradient(top, #878787, #000)
    text-shadow: 3px 3px 1px #600;
    background: -webkit-linear-gradient(#38610B,#E0F8F7);
    
}
.topmenu li{
    list-style-type: none;
    text-align: center;
    
}
.topmenu a{
    text-decoration: none;
    text-align: center;  
    color: black;
    font-weight: bold;
    
}
.todaleft{
    position: absolute;
    bottom: 00px;
}


marquee{
    font-weight: bolderM
    border-radius: 20px;
    font-size: 30px;
    max-width: 500px;
    background: -webkit-linear-gradient(black,red);
}

@keyframes example {
    
}
.bla{
    margin: 10px auto;
    text-align: center;
}
a:hover{
    background-color:-webkit-linear-gradient(black,red);
}
@media screen and (min-width: 60em) {
    body {
        background-image: url(nr2.jpg);
        background-size: 100%  auto;
    }
}
.komok{
    margin: 5px;
    float: right;
    background-color: aliceblue;
    border-style: solid;
    border-width: 4px;
}